/* CSS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    overflow-x: hidden;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(250, 104, 13);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header.hidden {
    transform: translateY(-100%);
  }
  
  header.scrolled {
    background-color: rgb(250, 104, 13);
  }

  header.scrolled-up {
    background-color: rgba(250, 104, 13, 0.5); 
  }  
  
  .banner {
    position: relative;
    height: 400px;
    overflow: hidden;
    background-image: url('img/banner.png'); 
    background-size: cover;
    background-position: center;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .banner h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .banner p {
    font-size: 1.2em;
  }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  margin-left: 20px;
  margin-bottom: 9px;
  margin-top: 10px;
}

.nav-left img {
  max-width: 100px;
  height: auto;
  filter: brightness(100%);
}

.nav-right ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px; 
}

.nav-right ul li {
  margin-left: 20px;
}

.nav-right ul li:first-child {
  margin-left: 0;
}

.nav-right ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.content {
  padding: 20px;
  margin-top: 70px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

h4 {
  margin-bottom: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 20px;
}

.options label {
  margin-left: 10px;
  text-align: left;
}

#perPage {
  border: 2px solid #ccc; 
  border-radius: 10px;
  padding: 1px 15px;
}

#sort {
  border: 2px solid #ccc; 
  border-radius: 10px;
  padding: 1px 15px;
}

select {
  text-align: left;
}

.sorting {
  order: 2;
}

.itemsPerPage {
  order: 0;
}

.showing {
  font-size: 14px; 
  color: #555; 
  order: -1;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.post img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 1px;
}

.post h2 {
  margin-bottom: 2px; 
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  margin-top: 2px; 
}

.post h5 {
  margin-bottom: -23px; 
  margin-top: 30px;
  color: #ccc;
}


.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
}